@using DNAMais.Domain.Entidades
@using DNAMais.Framework

@{
    ViewBag.Title = "DNA+ :: Contratos";
    ViewBag.TituloPagina = "Contratos";
    ViewBag.TituloGrid = "Contratos Cadastrados";
    Layout = "~/Views/Shared/_Listagem.cshtml";

    WebGrid grid = new WebGrid(Model, canSort: true, defaultSort: "", sortDirectionFieldName: "Asc");

    WebGridColumn coluna1 = grid.Column(columnName: "Id", header: "No.", format: @<span>@(item.Id)</span>, style: "col-md-1");
    WebGridColumn coluna2 = grid.Column(columnName: "Cliente", header: "Cliente", format: @<span>@(item.ClienteEmpresa.NomeFantasia)</span>, style: "col-md-2");
    WebGridColumn coluna3 = grid.Column(columnName: "Numero", header: "No. Contrato", format: @<span>@(item.Numero)</span>, style: "col-md-1");
    WebGridColumn coluna4 = grid.Column(columnName: "DataAquisicao", header: "Aquisição", format: @<span>@(item.DataAquisicao)</span>, style: "col-md-2");
    WebGridColumn coluna5 = grid.Column(columnName: "Usuario", header: "Usuário", format: @<span>@(item.UsuarioBackoffice.Nome)</span>, style: "col-md-2");
    WebGridColumn coluna6 = grid.Column(columnName: "DataCadastro", header: "Data Cadastro", format: @<span>@(((DateTime)item.DataCadastro).FormatarDataHora())</span>, style: "col-md-2");
}

@section botaoNovo{
    <p>
        @Html.DnaMaisButton("Create", "btnCreate", "Novo Contrato", "default", "plus")
    </p>
}

@section grid {
    @grid.GetHtml(
        tableStyle: "table table-bordered table-condensed table-striped table-primary table-vertical-center",
        columns:
            grid.Columns(
                coluna1,
                coluna2,
                coluna3,
                coluna4,
                coluna5,
                coluna6,
                grid.Column(
                    header: "Acao",
                    format: @<span>
                        @Html.DnaMaisTableLinkDetails("Details", (object)item.Id)
                    </span>
                            )
                        )
                    )
}