<hr class="visible-xs visible-sm" />

<div class="col-md-3">
    <blockquote class="blockquote-primary">
        <h4 class="heading-primary">Produtos Complementares</h4>

        <h5><a href="@Url.Action("ProspectingSolutions","Services")">Soluções de Prospecção</a></h5>
        <p class="short">Com os novos serviços Análise de Mercado e Expansão de Negócios a DNA+ traz ao mercado um novo conceito estratégico para sua empresa. Essas ferramentas serão capazes de...</p>
        <p><a href="@Url.Action("ProspectingSolutions","Services")">Saiba Mais!</a></p>

        <h5><a href="@Url.Action("DataEnrichment","Services")">Enriquecimento de Dados</a></h5>
        <p class="short">A DNA+ consegue ampliar sua base de dados seja ela de clientes ou não, assim como enriquecer as informações que possui. Além de...</p>
        <p><a href="@Url.Action("DataEnrichment","Services")">Saiba Mais!</a></p>

        <h5><a href="@Url.Action("DataTreatment","Services")">Tratamento e Higienização de Dados</a></h5>
        <p class="short">A DNA+ consegue ampliar sua base de dados seja ela de clientes ou não, assim como... </p>
        <p><a href="@Url.Action("DataTreatment","Services")">Saiba Mais!</a></p>
    </blockquote>
</div>