@{
    ViewBag.Title = "Logged";
    Layout = "~/Views/Shared/_LayoutLogged.cshtml";
}

@Html.Partial("Login/Logged/_TitleBarLogged")

<div class="container">

    <div class="col-md-12">
        @Html.Partial("Login/Logged/_HeadingLogged")
    </div>

    <div class="content">
        
        <div class="grid">

            @Html.Partial("Login/Logged/_ContractServicesPf")

            @Html.Partial("Login/Logged/_ContractServicesPj")

            @Html.Partial("Login/Logged/_ContractServicesVehicle")
            
            @Html.Partial("Login/Logged/_ContractServicesFtp")

        </div>

        <div class="col-md-12">
            <input type="button" id="btnBack" value="Voltar" class="btn btn-primary" hidden="hidden" />
        </div>

        <div class="col-md-12">
            <input type="button" id="btnBackPj" value="Voltar" class="btn btn-primary" hidden="hidden" />
        </div>

        <div class="col-md-12">
            <input type="button" id="btnBackVehicle" value="Voltar" class="btn btn-primary" hidden="hidden" />
        </div>

        <div class="col-md-12">
            <input type="button" id="btnBackFtp" value="Voltar" class="btn btn-primary" hidden="hidden" />
        </div>

    </div>
</div>