<hr class="visible-xs visible-sm" />

<div class="col-md-3">
    <blockquote class="blockquote-primary">
        <h4 class="tall heading-primary">Outros Produtos </h4>

        <h5><a href="@Url.Action("QualifiedMailing","Services")">Mailing Qualificado</a></h5>
        <p class="short">Mailing é uma ferramenta do marketing que se utiliza de tecnologias para a segmentação de grupos de consumidores através da...</p>
        <p><a href="@Url.Action("QualifiedMailing","Services")">Saiba Mais!</a></p>

        <h5><a href="@Url.Action("DataEnrichment","Services")">Enriquecimento de Dados</a></h5>
        <p class="short">A DNA+ consegue ampliar sua base de dados seja ela de clientes ou não, assim como enriquecer as informações que possui. Além de...</p>
        <p><a href="@Url.Action("DataEnrichment","Services")">Saiba Mais!</a></p>

        <h5><a href="@Url.Action("Search","Services")">Pesquisa CPF / CNPJ</a></h5>
        <p class="short">DNA+ oferece uma ampla gama de ferramentas de pesquisa de pessoas físicas e pessoas jurídicas, a partir da sua vigorosa base de dados, disponibilizando em uma...</p>
        <p><a href="@Url.Action("Search","Services")">Saiba Mais!</a></p>
    </blockquote>
</div>